@model Models.Admission.SeatAllocation
@{
    ViewBag.Title = "SeatAllocation";
    int sno = 1;
}
<link href="~/Content/frontend/css/style1.css" rel="stylesheet" />



<style>
    .btn-alert-yes {
        float: left;
        width: 48%;
    }

    .btn-alert-no {
        width: 48%;
    }
</style>
<br>
<br>
<br>

<h4>
    <ul class="nav nav-tabs font">
        <li>
            <a href="#tab_3" id="tab3" data-toggle="tab">Review seat allocation rules</a>
        </li>
        <li>
            <a href="#tab_4" id="tab4" data-toggle="tab">View seat allocation rules</a>
        </li>
    </ul>
</h4>

<div class="tab-content">
    <div class="tab-pane fade" id="tab_3">
        <div class="container-fluid font" style="background-color:white;box-shadow: 0 2px 4px rgba(0,0,0,0.6); padding:5px;">
            <div class="row border"> 
            <div class="breadcrumb font">
                <span class="inline odd first"><a href="/Home/index">Home</a></span> <span class="delimiter">&gt;</span>  <span class="inline odd last">Review seat allocation rules</span>
            </div>
            @*<h4 class="modal-title" style="background-color:cornflowerblue; color:white">Review Seat Allocation Status</h4><br /><br />
            @if (Model.seatAllocationmodel.Count > 0)
        {
            <table class="table table-bordered table-hover text-center" id="tblGrid">
                <thead>
                    <tr class="text-center">
                        <th>Sl.No.</th>
                        <th>Session</th>
                        <th>CourseName</th>
                        <th>Status</th>
                        <th>Forward To</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody style="color:Black;" id="SeatRulesValues">
                    @foreach (var item in Model.seatAllocationmodel)
                    {
                        <tr>
                            <td>@(sno++)</td>
                            <td>@item.ExamYear</td>
                            <td>@item.CourseName</td>
                            <td>@item.StatusName</td>
                            <td>@item.FormwardFrom</td>
                            <td>
                                <a style="text-align:center; float:initial" class="btn btn-primary" onclick="GetCommentDetails(@item.Rules_allocation_masterid)">View</a>
                            </td>
                            <td>
                                <a class="btn btn-primary RateAnalysis" id="btn1" href='javascript:;'>Edit</a>
                            </td>
                            <td style="display:none">@item.Rules_allocation_masterid</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table table-bordered table-hover text-center" id="tblGrid">
                <thead>
                    <tr class="text-center">
                        <th>Sl.No.</th>
                        <th>Session</th>
                        <th>CourseName</th>
                        <th>Status</th>
                        <th>Forward To</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody style="color:Black;">
                    <tr>
                        <td colspan="7">
                            No Data Available table
                        </td>
                    </tr>
                </tbody>
            </table>
        }*@
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div class="form-group row">
                            <div class="col-lg-12 modal-header">
                                <h3 class="head1">Review Seat allocation rules</h3>
                            </div>
                        </div>
                        <br />
                        <div style="overflow-y:scroll;overflow-x:scroll;">
                            <table class="table table-bordered table-hover" id="tblGetAllocationSeatofRuletoUpdate"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab_4">
        <div class="container-fluid font" id="EnableDataGridTab2" style="background-color:white;box-shadow: 0 2px 4px rgba(0,0,0,0.6);padding:5px;">
            <div class="row border">
                <div class="breadcrumb font">
                    <span class="inline odd first"><a href="/Home/index">Home</a></span> <span class="delimiter">&gt;</span>  <span class="inline odd last">View seat allocation rules</span>
                </div>
                <div class="col-lg-12">
                    <div>
                        <div class="form-group row">
                            <div class="col-lg-12 modal-header">
                                <h3 class="head1">View seat allocation rules</h3>
                            </div>
                        </div>
                        <br />
                        <div style="overflow-y:scroll;overflow-x:scroll;">
                            <table class="table table-bordered table-hover" id="tblGetApprovedAllocationSeatofRuletoView"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ApprovedViewPanel" class="container-fluid font" style="background-color:white;box-shadow: 0 2px 4px rgba(0,0,0,0.6);padding:5px;">
        <div class="row border">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div class="form-group row">
                            <div class="col-lg-12 modal-header">
                                <h3 class="head1">Rules Of Seat Allocation</h3>
                            </div>
                        </div>
                        <br />
                        <label id="SeatAllocationViewId" style="display:none"></label>
                        <div>
                            <div class="col-lg-1">
                                <label for="txtExamYear">Academic Year</label>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control" id="ViewExamYear" onchange="ViewExamYearOnChange()">
                                    <option value="choose">Select</option>
                                </select>
                            </div>
                            <div class="col-lg-1">
                                <label for="txtCourseType">Course Type</label>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control" id="ViewCourseTypes" onchange="ViewExamYearOnChange()">
                                    <option value="choose">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Vertical Reservation Rules</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div>
                                <div class="col-lg-12">
                                    <table class="display table-bordered" style="width:100%">
                                        <tr>
                                            <td width="100" align="center"><label>Vertical rules</label></td>
                                            <td width="100" align="center"><label>GM</label></td>
                                            <td width="100" align="center"><label>SC</label></td>
                                            <td width="100" align="center"><label>ST</label></td>
                                            <td width="100" align="center"><label>C1</label></td>
                                            <td width="100" align="center"><label>IIA</label></td>
                                            <td width="100" align="center"><label>IIB</label></td>
                                            <td width="100" align="center"><label>IIIA</label></td>
                                            <td width="100" align="center"><label>IIIB</label></td>
                                        </tr>
                                        <tr>
                                            <td width="100" align="center"><label>Percentage</label></td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewGMPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewSCPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewSTPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewC1Perc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewIIAPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewIIBPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewIIIAPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewIIIBPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Horizontal Reservation Rules</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div>
                                <div class="col-lg-12">
                                    <table class="display table-bordered" style="width:100%">
                                        <tr>
                                            <td width="100" align="center"><label>Horizontal rules</label></td>
                                            <td width="100" align="center"><label>Women</label></td>
                                            <td width="100" align="center"><label>Persons with disabilities</label></td>
                                            <td width="100" align="center"><label>Ex-Service</label></td>
                                            <td width="100" align="center"><label>Kannada medium</label></td>
                                            @*<td width="100" align="center"><label>Land Loser</label></td>
                                        <td width="100" align="center"><label>Kashmiri Migrants</label></td>*@
                                            <td width="100" align="center"><label>Economic weaker section</label></td>
                                            <td width="100" align="center"><label>General Pool</label></td>
                                        </tr>
                                        <tr>
                                            <td width="100" align="center"><label>Percentage</label></td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewWomenPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewPerDisabilitiesperc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewExServicePerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewKanMediumPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            @*<td width="100" align="center">
                                            <input type="text" id="ViewLandLoserPerc" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="text" id="ViewKashmiriMigrPerc" readonly style="width:100px;height:46px;"> %
                                        </td>*@
                                            <td width="100" align="center">
                                                <input type="text" id="ViewEconomicWeakerPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="text" id="ViewGPPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Hyderabad And Non Hyderabad Region</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <label>Reservation Rules </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div>
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-2" valign="center">
                                <label>Hyderabad Region </label>
                            </div>
                            <div class="col-lg-7">
                                <table class="display table-bordered" style="width:100%">
                                    <tr>
                                        <td width="100" align="center"><label>Hyderabad Candidate</label></td>
                                        <td width="100" align="center">
                                            <input type="text" name="ViewHyderabadRegion" id="ViewHyderabadRegion" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100" align="center"><label>Non-Hyderabad Candidate</label></td>
                                        <td width="100" align="center">
                                            <input type="text" name="ViewNonHyderabadRegion" id="ViewNonHyderabadRegion" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div>
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-2" valign="center">
                                <label>Non - Hyderabad Region </label>
                            </div>
                            <div class="col-lg-7">
                                <table class="display table-bordered" style="width:100%">
                                    <tr>
                                        <td width="100" align="center"><label>Hyderabad Region</label></td>
                                        <td width="100" align="center">
                                            <input type="text" name="ViewNHyderabadRegion" id="ViewNHyderabadRegion" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100" align="center"><label>Non-Hyderabad Region</label></td>
                                        <td width="100" align="center">
                                            <input type="text" name="ViewNNonHyderabadRegion" id="ViewNNonHyderabadRegion" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            @*<div class="row">
            <div class="col-lg-12">
                <div>
                    <div>
                        <div class="col-lg-6">
                            <label>Grade to Percentage details</label>
                        </div>
                        <div class="col-lg-6">
                            <label>Reservation Rules </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div>
                        <div class="col-lg-1">
                            <label>Syllabus</label>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" id="ViewSyllabus">
                                <option value="choose">Select</option>
                            </select>
                        </div>
                        <div class="col-lg-9">
                            <table class="display table-bordered" style="width:100%">
                                <tr>
                                    <td width="100" align="center"><label>Grades</label></td>
                                    <td width="100" align="center"><label>A1</label></td>
                                    <td width="100" align="center"><label>A2</label></td>
                                    <td width="100" align="center"><label>B1</label></td>
                                    <td width="100" align="center"><label>B2</label></td>
                                    <td width="100" align="center"><label>C1</label></td>
                                    <td width="100" align="center"><label>C2</label></td>
                                    <td width="100" align="center"><label>D</label></td>
                                    <td width="100" align="center"><label>E1</label></td>
                                    <td width="100" align="center"><label>E2</label></td>

                                </tr>
                                <tr>
                                    <td width="100" align="center"><label>Percentage</label></td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercA1" id="ViewGradespercA1" readonly style="width:100px;height:46px;">
                                    </td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercA2" id="ViewGradespercA2" readonly style="width:100px;height:46px;">
                                    </td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercB1" id="ViewGradespercB1" readonly style="width:100px;height:46px;">
                                    </td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercB2" id="ViewGradespercB2" readonly style="width:100px;height:46px;">
                                    </td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercC1" id="ViewGradespercC1" readonly style="width:100px;height:46px;">
                                    </td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercC2" id="ViewGradespercC2" readonly style="width:100px;height:46px;">
                                    </td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercD" id="ViewGradespercD" readonly style="width:100px;height:46px;">
                                    </td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercE1" id="ViewGradespercE1" readonly style="width:100px;height:46px;">
                                    </td>
                                    <td width="100" align="center">
                                        <input type="text" name="ViewGradespercE2" id="ViewGradespercE2" readonly style="width:100px;height:46px;">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>*@

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Other Reservation rules</span>
                        </div>
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-2">
                        <label>Rural</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" readonly id="ViewReservationRural" style="margin-left:15px;" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-2">
                        <label>Transgender</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" readonly id="ViewReservationTransgender" style="margin-left:15px;" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                </div>
                <div class="col-lg-6">
                    <a style="text-align:center; float:initial" class="btn btn-primary" onclick="CancelDetailsApprovedView()">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid font" id="EditPanel" style="background-color:white;box-shadow: 0 2px 4px rgba(0,0,0,0.6); padding:5px;">
        <div class="row border ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <div class="col-lg-12 modal-header">
                            <h3 class="head1">Rules Of Seat Allocation</h3>
                        </div>
                    </div>
                    <div>
                        <br />
                        <label id="SeatAllocationReviewId" style="display:none"></label>
                        <div>
                            <div class="col-lg-1">
                                <label for="txtExamYear">Academic Year</label>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control" id="ReviewExamYear" disabled>
                                    <option value="choose">Select</option>
                                </select>
                            </div>
                            <div class="col-lg-1">
                                <label for="txtCourseType">Course Type</label>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control" id="ReviewCourseTypes" disabled>
                                    <option value="choose">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Vertical Reservation Rules</span>
                        </div>
                    </div>
                </div>


                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div>
                                <div class="col-lg-12" style="overflow-x:auto;">
                                    <table class="display table-bordered" style="width: 100%;">
                                        <tr>
                                            <td width="100" align="center"><label>Vertical rules</label></td>
                                            <td width="100" align="center"><label>GM</label></td>
                                            <td width="100" align="center"><label>SC</label></td>
                                            <td width="100" align="center"><label>ST</label></td>
                                            <td width="100" align="center"><label>C1</label></td>
                                            <td width="100" align="center"><label>IIA</label></td>
                                            <td width="100" align="center"><label>IIB</label></td>
                                            <td width="100" align="center"><label>IIIA</label></td>
                                            <td width="100" align="center"><label>IIIB</label></td>
                                        </tr>
                                        <tr>
                                            <td width="100" align="center"><label>Percentage</label></td>
                                            <td width="100" align="center">
                                                <input name="ReviewGMPerc" type="number" id="ReviewGMPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewSCPerc" id="ReviewSCPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewSTPerc" id="ReviewSTPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewC1Perc" id="ReviewC1Perc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewIIAPerc" id="ReviewIIAPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewIIBPerc" id="ReviewIIBPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewIIIAPerc" id="ReviewIIIAPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewIIIBPerc" id="ReviewIIIBPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Horizontal Reservation Rules</span>
                        </div>
                    </div>
                </div>


                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div>
                                <div class="col-lg-12" style="overflow-x:auto;">
                                    <table class="display table-bordered" style="width: 100%;">
                                        <tr>
                                            <td width="100" align="center"><label>Horizontal rules</label></td>
                                            <td width="100" align="center"><label>Women</label></td>
                                            <td width="100" align="center"><label>Persons with disabilities</label></td>
                                            <td width="100" align="center"><label>Ex-Service</label></td>
                                            <td width="100" align="center"><label>Kannada medium</label></td>
                                            @*<td width="100" align="center"><label>Land Loser</label></td>
                                            <td width="100" align="center"><label>Kashmiri Migrants</label></td>*@
                                            <td width="100" align="center"><label>Economic weaker section</label></td>
                                            <td width="100" align="center"><label>General Pool</label></td>
                                        </tr>
                                        <tr>
                                            <td width="100" align="center"><label>Percentage</label></td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewWomenPerc" id="ReviewWomenPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewPerDisabilitiesperc" id="ReviewPerDisabilitiesperc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewExServicePerc" id="ReviewExServicePerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewKanMediumPerc" id="ReviewKanMediumPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            @*<td width="100" align="center">
                                                <input type="number" name="ReviewLandLoserPerc" id="ReviewLandLoserPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewKashmiriMigrPerc" id="ReviewKashmiriMigrPerc" readonly style="width:100px;height:46px;"> %
                                            </td>*@
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewEconomicWeakerPerc" id="ReviewEconomicWeakerPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                            <td width="100" align="center">
                                                <input type="number" name="ReviewGPPerc" id="ReviewGPPerc" readonly style="width:100px;height:46px;"> %
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Hyderabad And Non Hyderabad Region</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <label>Reservation Rules </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div>
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-2" valign="center">
                                <label>Hyderabad Region </label>
                            </div>
                            <div class="col-lg-7">
                                <table class="display table-bordered" style="width:100%">
                                    <tr>
                                        <td width="100" align="center"><label>Hyderabad Candidate</label></td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewHyderabadRegion" id="ReviewHyderabadRegion" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100" align="center"><label>Non-Hyderabad Candidate</label></td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewNonHyderabadRegion" id="ReviewNonHyderabadRegion" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div>
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-2" valign="center">
                                <label>Non - Hyderabad Region </label>
                            </div>
                            <div class="col-lg-7">
                                <table class="display table-bordered" style="width:100%">
                                    <tr>
                                        <td width="100" align="center"><label>Hyderabad Candidate</label></td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewNHyderabadRegion" id="ReviewNHyderabadRegion" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100" align="center"><label>Non-Hyderabad Candidate</label></td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewNNonHyderabadRegion" id="ReviewNNonHyderabadRegion" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            @*<div class="row">
                <div class="col-lg-12">
                    <div>
                        <div>
                            <div class="col-lg-6">
                                <label>Grade to Percentage details</label>
                            </div>
                            <div class="col-lg-6">
                                <label>Reservation Rules </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div>
                            <div class="col-lg-1">
                                <label>Syllabus</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" id="ReviewSyllabus" disabled>
                                    <option value="choose">Select</option>
                                </select>
                            </div>
                            <div class="col-lg-9">
                                <table class="display table-bordered" style="width:100%">
                                    <tr>
                                        <td width="100" align="center"><label>Grades</label></td>
                                        <td width="100" align="center"><label>A1</label></td>
                                        <td width="100" align="center"><label>A2</label></td>
                                        <td width="100" align="center"><label>B1</label></td>
                                        <td width="100" align="center"><label>B2</label></td>
                                        <td width="100" align="center"><label>C1</label></td>
                                        <td width="100" align="center"><label>C2</label></td>
                                        <td width="100" align="center"><label>D</label></td>
                                        <td width="100" align="center"><label>E1</label></td>
                                        <td width="100" align="center"><label>E2</label></td>

                                    </tr>
                                    <tr>
                                        <td width="100" align="center"><label>Percentage</label></td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercA1" id="ReviewGradespercA1" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercA2" id="ReviewGradespercA2" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercB1" id="ReviewGradespercB1" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercB2" id="ReviewGradespercB2" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercC1" id="ReviewGradespercC1" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercC2" id="ReviewGradespercC2" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercD" id="ReviewGradespercD" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercE1" id="ReviewGradespercE1" readonly style="width:100px;height:46px;"> %
                                        </td>
                                        <td width="100" align="center">
                                            <input type="number" name="ReviewGradespercE2" id="ReviewGradespercE2" readonly style="width:100px;height:46px;"> %
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Other Reservation rules</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-lg-2">
                            <label>Rural</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="number" id="ReviewReservationRural" readonly style="width:100px;height:46px;"> %
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-2">
                            <label>Transgender</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="number" id="ReviewReservationTransgender" readonly style="width:100px;height:46px;"> %
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-2">
                        <label>Remarks</label>
                    </div>
                    <div class="col-lg-10">
                        <textarea class="modifiedtextarea" id="RemarksTxt" style="resize:none;height:50px !important" name="RemarksTxt" rows="2" cols="2"> </textarea>
                        <small class="text-danger" id="Remarkstxt-Required" style="display:none">Remarks is required</small><br /><br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-2">
                        <label>Status</label>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-control" id="StatusId" onchange="OnchangeStatus()"></select>
                        <small class="text-danger" id="StatusId-Required" style="display:none">Status ID is required</small>
                    </div>
                </div>
                <div id="EnableForwardTo" class="col-lg-6" style="display:none">
                    <div class="col-lg-3">
                        <label>Send To</label>
                    </div>
                    <div class="col-lg-5">
                        <select class="form-control" id="ForwardTo"></select>
                        <small class="text-danger" id="ForwardTo-Required" style="display:none">Send To is required</small>
                    </div>
                </div>
                <br>
                <br>
            </div>

            <div class="row">
                <div class="col-lg-5">
                </div>
                <div class="col-lg-6">
                    <a class="btn btn-primary" id="submitbtn" data-dismiss="modal" onclick="UpdateRemarksDetailsForSeat()">Submit </a>
                    @*<a style="text-align:center; float:initial" class="btn btn-primary" onclick="GetCommentDetails()">View Comments</a>*@
                    <a style="text-align:center; float:initial" class="btn btn-primary" onclick="CancelDetails()">Back</a>
                </div>
            </div>
            <br />
        </div>
    </div>
    <input type="hidden" id="hdnSession" data-value='@Request.RequestContext.HttpContext.Session["RoleId"]' />
</div>
<div class="modal" id="HistoryRemarksCommentsModal" role="dialog">
    <div class="modal-dialog modal-xl" style="width: 60%; margin: 30px auto; padding: 2px;">
        <div class="modal-content" style="padding:15px;">
            <div class="modal-header">
                <h4 class="modal-title">Remarks</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <table class="table table-striped table-hover text-center shadow clswidth" id="GetCommentRemarksDetails" style="width:100% !important" border="1" align="center"></table>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 20%;">OK</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/SeatAllocationReviewView")